// Your variable overrides here

@import 'src/styles/variables';

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

$spacers: map-merge(
  (
    '4_5': (
      $spacer * 2.25,
    ),
    6: (
      $spacer * 4,
    ),
    7: (
      $spacer * 5,
    ),
  ),
  $spacers
);

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'src/styles/bootswatch';
@import 'src/styles/customVariables';

// Your custom rules here

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  min-height: 80vh;
}

.navbar {
  min-height: 80px;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
}

.inline-link {
  font-style: italic;
}

.btn-block {
  display: block;
}

.alert {
  &-secondary {
    background-color: $reg-gray;
    border: none;
  }
}

.btn {
  &-return {
    border-color: white;
    border-width: 5px;
    @media (max-width: 576px) {
      background-color: $reg-gray;
      border-width: 5px;
      border-radius: 15px;
    }
  }
  &-return:hover {
    border-color: yellow;
    border-width: 5px;
  }

  &-outline-dark {
    border-color: #f7f7f9;
  }
}

h1 {
  .orderId {
    @media (max-width: 576px) {
      font-size: 1.5rem;
    }
  }
}

.header-1 {
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

// Home Page
.card-product {
  @extend .card;

  @include media-breakpoint-down(sm) {
    .card-title {
      font-size: 1rem;
    }
  }
  @include media-breakpoint-down(md) {
    .card-title {
      font-size: 1.2rem;
    }
  }
}

// Cart Page

.cart-list {
  @include media-breakpoint-up(xl) {
    font-size: 1.2rem;
  }
}

.cart-btn {
  @include media-breakpoint-down(md) {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

    button {
      border: 0;
    }
  }
}

.cart-img {
  @include media-breakpoint-up(sm) {
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  @include media-breakpoint-up(md) {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.cart-product-quantity-select {
  @extend .form-select;
  font-size: inherit;
}

.product-pagination {
  .pagination {
    padding: 0 36px;
    justify-content: space-between;
  }
}

.product-pagination-md {
  .pagination {
    justify-content: center;
  }
}

.product-pagination-xs {
  .pagination {
    padding: 0 36px;
    justify-content: center;
  }

  .page-item {
    padding-right: 0.8rem;
  }

  .page-item:last-child {
    padding-right: 0;
  }
}

.product-pagination-sm {
  @extend .product-pagination-xs;
  font-size: 1.2rem;
}
