@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'src/styles/variables';

.authorization__redirect {
  width: fit-content;
  margin: 1rem auto 0 auto;
  text-align: center;
}

// Mobile version: less than ...992px
@include media-breakpoint-down(lg) {
  .authorization-content__content-wrapper {
    padding: 0 10%;
  }

  .authorization-content__header-logo {
    padding: 2% 5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
}

// less than ...768px
@include media-breakpoint-down(md) {
  .authorization-content__content-wrapper {
    padding: 0;
  }

  .authorization__form-wrapper {
    font-size: 1rem;
  }

  .authorization__redirect {
    font-size: 0.9rem;
  }
}

// between 768px ... 991px
@include media-breakpoint-only(md) {
  .authorization__form-wrapper {
    font-size: 1.2rem;
  }

  .authorization__redirect {
    font-size: 1em;
  }
}

// Desktop version: more than 992px
@include media-breakpoint-up(lg) {
  .authorization-content__content-wrapper {
    padding: 0 4rem;
  }

  .authorization-content__header-logo {
    width: fit-content;
    margin: 0 auto;
  }

  .authorization-content__human-logo {
    width: fit-content;
    margin: 2.5rem auto 4rem auto;
  }

  .authorization__form-wrapper {
    font-size: 1.25em;
  }

  .authorization__redirect {
    font-size: 1em;
  }
}
