@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'src/styles/variables';

.authorization-grid {
  display: grid;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.authorization-grid__aside-img {
  background-color: rgba($sundown, 0.34);
}

.candies-on-table {
  background-image: url('../../assets/candyshop-login-small.png');
  background-color: rgba($sundown, 0.34);
}

.authorization-grid__main-content {
  background-color: rgba($sundown, 0.34);
}

.authorization-grid__main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Mobile version
@include media-breakpoint-down(lg) {
  .authorization-grid {
    grid-template-rows: 40% 58%;
    &--register-page {
      grid-template-rows: 30% 70%;
    }
  }

  .authorization-grid__aside-img {
    background-color: transparent;
  }

    // big picture
  .candies-on-table {
    height: 100%;
    background-size: cover;
    background-position: top;
    border-radius: 0 0 70px 70px;
  }

  .aside-img__header-logo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 2% 5%;
  }

  // interface part
  .authorization-grid__main-content {
    padding: 0 2rem 0 2rem;
    border-radius: 40px;
  }
}


// Desktop version
@include media-breakpoint-up(lg) {
  .authorization-grid {
    gap: 0;
    grid-template-rows: none;
    grid-template-columns: 50% 35rem;

    justify-content: center;
    padding: 3rem 0;
  }

  // big picture
  .candies-on-table {
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0 70px 70px 0;
  }

  .aside-img__header-logo {
    width: fit-content;
    margin: 0 auto;
  }
}
